*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
}

/* ENCABEZADO */

header {
   background-color: #FFECE5;
   width: 100%;
   border: 1px solid black;
   display: flex; 
   flex-direction: row;  
}

img {
    display: flex;
    align-self: center;
}

.logo{
    display: flex;
    max-width: 101px;
    height: 101px;
     padding: 0%;
     margin: 19px;
     border: 2px solid rgb(255, 255, 255);     
} 

.logo img:hover{
    transform: none;
}

.recetario{
    display: flex; 
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
}

.recetario img:hover{
    transform: none;
}


nav { 
    display: flex;     
    justify-content: flex-end
}

.li{
    padding:  10px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 20px;    
}
/* FIN DL ENCABEZADO */



/*cuerpo*/
#cont{
   margin: 10px ;
   padding: 0px;
   display: flex;
   flex-direction: row;
}

h4{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: #6e6e6e;   
}

  /*MAIN*/ 
   /*FORMULARIO BUSQUEDA*/ 
   #busca{
    width: auto;
    height: 150px;
    display: flex;
    margin: 7px;
    border: 1px solid rgb(0, 0, 0);
    background-image: url(/img/fondo.png);
    background-size: 100%;
   }
   
   .navbar{
    margin: auto;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    }

   .formulario{
     width: 98%;
     height: 85px;
     margin: 10px ;
    }
    .input{
    margin: 5px;
    }

   .boton{
     margin: 5px ;
    }
   /*FIN FORMULARIO BUSQUEDA*/

    #cuerpo{
    margin: 0%;
    padding: 0%;
    display: flex;
    
}

    img:hover{
    transform: scale(0.9);
}

 /*carga de receta

.article1{
   width: 200px;
   height: 240px;
   padding: 5px;
   margin: 5px;
   border: 1px solid #000000;
}

 h4{
    margin: 8px ;
}

.a{
    width: 50%;
}
#cont_carga{
    overflow: hidden;
}

.img_carga{
     margin: 3px;
     border: 1pc solid #ebdbd5;
     max-width: 97%;    
}
 FIN carga de receta*/

   /*OTRAS RECETAS*/

.article2{
   width: 99%;
   margin: 5px;
   border: 1px solid #000000;
   overflow: hidden;
   display: inline-block
}

#cont_img{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5px;
}

.col{
    padding: 10px;
}

.img_receta{
    
    margin: 10px;
    border: 5px solid rgb(211, 184, 184);
}
/*FIN OTRAS RECETAS*/
/*FIN DE MAIN*/

/*FIN ASIDE*/
aside{
    display: inline-block;
    width: 500px;
   
}
/*FIN ASIDE*/



/*FIN cuerpo*/

/*footer*/
footer{
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: #ebdbd5;
}
/*fin del footer*/

  

/*Estilos para pag max 780px*/

@media (max-width: 780px){
    /*ENCABEZADO*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        height: 312px;
    }

    .logo
    {
     width:0px;
     height: 0px;
     border: none;
    }
    
    .logo img {
        width: 0px;
        height: 0px;
    }

    .recetario{
     width: 100%;
     height: 300px;
     
    }

    .recetario img {
       Max-width:100% ;
       Display:block ;

    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fbdace;
        border-top: 2px solid black;
        width: 100vw;
        height: auto;
    }

    .li{
       margin: 0px;
       padding: 10px;
    }

/*FIN ENCABEZADO*/

 #cont{
        display: flex;
        Overflow: hidden;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
 
/*FORMULARIO BUSQUEDA*/ 
    #busca{
    width: auto;
    height: 120px;
    }
    .navbar{
    width: unset;
    }
/*FIN FORMULARIO BUSQUEDA*/

    #cuerpo{
    display: flex;
    flex-direction: column;
     width: 100%;
    margin: 0%;
    padding: 0%; 
} 

    h4{
      font-size: small;
      text-align: center;
    }

/*CARGA RECETA 
    #carga{
    display: flex;
    justify-content: flex-end;
    Overflow: hidden;
    }

    .article1{
        height: min-content;

    }
  
    .img_carga{
      margin: 3px;
      margin-left: 30%;
      border: 4px solid #ebdbd5;
      max-width: 50%;   
      display: flex;
    }

FIN CARGA RECETA*/ 

/*OTRAS RECETAS*/
    .article2{
      width: auto;
    }
    #cont_img{
    display:flex;
    flex-wrap:wrap;
    width: auto;
    height: 500%;
    }

    .img_receta{
         max-width:  80%;
         overflow: hidden;  
         margin: 5px;
         padding: 0px;
         border: 5px solid rgb(211, 184, 184);
      }
/* FIN OTRAS RECETAS*/

aside{
 margin: 5px;
 padding: 5px;
}
}