*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
}

/* ENCABEZADO */

header {
   background-color: #FFECE5;
   width: 100%;
   border: 1px solid black;
   display: flex; 
   flex-direction: row;  
}

img {
    display: flex;
    align-self: center;
}

.logo{
    display: flex;
    max-width: 101px;
    height: 101px;
     padding: 0%;
     margin: 19px;
     border: 2px solid rgb(255, 255, 255);      
} 

.recetario{
    display: flex; 
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
}


nav { 
    display: flex;     
    justify-content: flex-end
}

.li{
    padding:  10px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    padding: 20px;    
}
/* FIN DL ENCABEZADO */

#cont{
   height: 625px;
   margin: 10px ;
   margin-right: 10px;
   border: 1px solid #000000;

}

/*MAIN*/

   /*FORMULARIO BUSQUEDA*/ 
   .formulario{
     width: 98%;
     height: 85px;
     margin: 10px ;
    }

   .boton{
     margin: 5px ;
    }
   /*FIN FORMULARIO BUSQUEDA*/

/*carga de receta*/
.article1{
   /*width: 460px;*/
   width: 39%;
   height: 500px;
   margin: 10px ;
   border: 1px solid #000000;
   
}

#cont_carga{
    max-width: 100%;
    overflow: hidden;
}

h4{
    margin: 8px ;
}

.a{
    width: 50%;
}
.img_carga{
     margin: 5px;
     margin-right:5px ;
     border: 1pc solid #ebdbd5;
     max-width: 97%;
}

/* FIN carga de receta*/

/*OTRAS RECETAS*/

.article2{
   /*width: 998px;*/
   width: 58%;
   height: 510px;
   margin-left: 41% ;
   border: 1px solid #000000;
}

.img_receta{
    width: 31%;
    margin: 10px;
    display: block;
    border: 5px solid rgb(211, 184, 184);
}

#cont_img{
    max-width: 100%;
    overflow: auto;
    width: 90%;
    margin: 10px;
}
/*FIN OTRAS RECETAS*/
/*FIN DE MAIN*/

/*footer*/
footer{
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: #ebdbd5;
}
/*fin del footer*/



/*Estilos para pag max 780px*/

@media (max-width: 780px){
    /*ENCABEZADO*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
    }

    .logo
    {
     width:0px;
     height: 0px;
     border: none;
    }
    
    .logo img {
        width: 0px;
        height: 0px;
    }

    .recetario{
     width: 100%;
     height: 300px;
     
    }

    .recetario img {
       Max-width:100% ;
       Display:block ;

    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fdd7c9;
        border-top: 2px solid black;
        width: 100vw;
    }

    .li{
       margin: 0px;
       padding: 10px;   
    }
}
/*FIN ENCABEZADO*/